PALSERVER_INSTALLDIR=palserver-data
SERVER_NAME=My Palworld Server
SERVER_DESCRIPTION=There are many like it, but this one is mine
ADMIN_PASSWORD_FILE=admin_password
SERVER_PASSWORD_FILE=server_password
